body {
    background: $default-background;
}

.navbar-light {
    background: $d-bg-l10;

}
.card, .bg-card {
    background: $d-bg-d15;
}

.btn-primary {
    background: $d-bg-d5;
    border-color: $d-bg-d5;
    color: $d-txt-blk;
}

.pointer {
    cursor: pointer;
}

.bg-white {
    background: white;
}

.hotpink {
    background: hotpink;
}

.yellowgreen {
    background: yellowgreen;
}

.margin-auto {
    margin: auto ;
}

.ngb-carousel {
    display: block;
    margin: auto;
}
