<div class="container mt-sm-3">
    <div class="row ">
        <div class="col-sm-6 ">
            <img [src]="image" class="img-fluid  ">
        </div>
        <div class="col-sm-6">
            <h3>The Digimons</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus vitae aperiam quibusdam accusantium illo quis, molestiae perferendis saepe dignissimos tempora expedita maxime laboriosam amet culpa nihil quod autem, totam quo reprehenderit dicta in consectetur cupiditate ad mollitia? Dolorem assumenda et dolorum porro reiciendis esse enim. Aut fugit id animi culpa odit totam, neque fuga praesentium quam sint aliquam voluptas nemo mollitia consequuntur exercitationem quo commodi quod? Eligendi sed ex deleniti nesciunt nulla in? Sint porro quas voluptas nesciunt ipsam quo laboriosam et ea iure, omnis officiis eum delectus blanditiis possimus consequatur rerum ducimus voluptatibus cupiditate nam ad. Amet, earum debitis.
            </p>
        </div>
    </div>
</div>